.location > .location-pagination{
    display: flex;
    flex-wrap: wrap;
    padding-top: 5px;
    padding-bottom: 10px;
    width: 100%;
}

.location > .location-pagination > .block{
    width: 30px;
    height: 30px;
    margin: 0 10px;
    display: block;
    animation: pulse 1s infinite ease-in-out;
    background-color: #2D3848;
}
.location > .location-block{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.block1{
    width: 70px;
    height: 40px;
    margin: 0 20px;
    display: block;
    animation: pulse 1s infinite ease-in-out;
}
.block2{
    width: 65px;
    height: 40px;
    margin: 0 20px;
    display: block;
    animation: pulse 1s infinite ease-in-out;
}
.block3{
    width: 80px;
    height: 40px;
    margin: 0 20px;
    display: block;
    animation: pulse 1s infinite ease-in-out;
}
.block4{
    width: 80px;
    height: 40px;
    margin: 0 20px;
    display: block;
    animation: pulse 1s infinite ease-in-out;
}

.location .card-list {
    box-shadow: 0 0 6.4px 4px rgba(0,0,0,.06275);
    border-radius: 4px;
    background-color: #2D3848;
    grid-template-columns: 200px 200px minmax(200px,auto);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}

  .location .line {
    height: 24px;
    margin: 10px;
    max-width: 100px;
    animation: pulse 1s infinite ease-in-out;
    border-radius: 5px;
  }
  .location .line:last-child {
    height: 18px;
    margin: 10px;
    max-width: 120px;
    animation: pulse 1s infinite ease-in-out;
    border-radius: 5px;
  }

  @keyframes pulse {
    0% {
      background-color: rgba(165,165,165,.1)
    }
    50% {
      background-color: rgba(165,165,165,.3)
    }
    100% {
      background-color: rgba(165,165,165,.1)
    }
  }
.pagination li {
    border: 1px solid #dfdfdf;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 0 10px;
}